body {
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.tour {
  background: rgba(0, 0, 0, 0.9);;
  height: 100vh;
  margin: 0;
  overflow: auto;
}

h2 {
  margin: 0;
  color: white;
}

.tour__head {
  padding-top: 1px;
  text-align: left;
  margin-bottom: 50px;
}

.nav-logo{
  height: 10%;
  width: 10%;
  display: inline-block;
}

.image-container {
  height: 50rem;
  position: relative;
  width: 78%;
  display: block;
  margin: 0 auto;
  margin-left: 12%;
  overflow: hidden;

  border: 2px solid #ebb47a;
  border-radius: 10px;
}

canvas {
  width: 100%;
}

iframe {
  display:block;
  margin: 0 auto;
  width:500px;
  height: 400px;
  overflow: auto;
}

#camera-desc-container {
  max-width: 500px;
  max-height: 500px;
  min-width: 200px;
  min-height: 250px;
  background: #fff;
  color: #000;
  border-radius: 3px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#camera-desc-container>iframe {
  border: none;
  width: 100%;
}

.image-contain {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
  overflow: auto;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  /* transition: all 5s ease-in-out; */
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }

  .popup {
    width: 70%;
  }
}

#soundButton {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 32px;
  float : right;
}

#title {
  padding: 32px;
  color:rgba(0, 0, 0, 0.7);
}

.top-nav{
  background-color: #fff;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.g-but{
  padding:20px;
  border-radius:40px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px; /* adjust as needed */
}

.button-row button {
  margin: 0 10px; /* adjust as needed */
}

.guessButton, .testButton {
  padding:20px;
  border-radius:40px;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}

.navbar-left img {
  width: 50px;
  height: 50px;
}

.navbar-center h1 {
  margin: 0;
}

.navbar-right button {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.button-column {
  display: flex;
  justify-content: center;
  align-items: center;
}